<div class="custom-card">
<ol class="ui list">
    <li value="-">
    <p>
            Keep up to date on the latest information from trusted sources, such as WHO or your local and national health 
            authorities. Why? Local and national authorities are best placed to advise on what people in your area should
             be doing to protect themselves.
            </p>
    </li>

    <li value=""></li>

<li value="-"><a href="{{MY_COUNTRY_COVID19_WEB_LINK}}">{{MY_COUNTRY_COVID19_WEB_LINK_NAME}}</a></li>
<li value="-"> <a href="{{ WHO_WEBSITE_LINK }}">
        {{WHO_WEBSITE_LINK_NAME}}</a>
</li>

</ol>
</div>