<div class="custom-card">
    <ol class="ui list">
        <li value="-">
            <p>
                <a target="blank" href="
                https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters"> Myth
                    busters</a>
            </p>
        </li>

        <li value="-">
            <p>
                <a target="blank"
                    href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks">When and how to
                    use masks</a>
            </p>
        </li>
        <li value="-">
            <p>
                <a target="blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Advice for
                    public</a>
            </p>
        </li>

        <li value="-">
            <p>
                <a target="blank"
                    href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting">Advocacy</a>
            </p>
        </li>
    </ol>
</div>