<div class="custom-card">
   
    <ol class="ui list">

        <li value="-">
            <p>
                COVID-19 may be spread by people who are not showing symptoms.
      
            </p>
        </li>


        <li value="-">
            <p>
                If you have a fever, cough , difficulty breathing, aches and pains, nasal congestion and  runny nose, seek
                medical attention.
                Call in advance.
            </p>
        </li>


        <li value="-">
            <p>
                Maintain at least 1 metre  distance between yourself and others.
            </p>
        </li>


        <li value="-">
            <p>
                If someones not wearing mask avoid them.*
            </p>
        </li>

        <li value="-">
            <p>
               Always make sure someone not coming from infected region to meet you.*
            </p>
        </li>

        <li value="-">
            <p>
               
                Protect yourself and your loved ones from COVID-19 .
            </p>
        </li>

        <li value="-">
            <p>
               Cover your nose and mouth with a bent elbow or paper tissue when coughing or sneezing , dispose of the tissue immediately after use ,
               and perform hand hygiene.
            </p>
        </li> 

        <li value="-">
            <p>
                Don't spread rumors.
            </p>
        </li>

      
        <li value="-">
            <p>
                It is normal to feel sad, stressed, confused, scared or angry during a crisis.Talking to people you trust can help. Contact your friends and family.

            </p>
        </li>



    </ol>
</div>