<div class="custom-card">
    <h4 class="ui header  ">
        <i class="exclamation triangle icon green"></i>
        You are in Green zone
    </h4>


    <ol class="ui list">
        <li value="-">
            <p>
                Stay home stay safe <i class="smile outline green icon"></i>
            </p>
        </li>
        <li value="-">
            <p> No need to worry about COVID-19, always take appropriate precautions<i class="smile outline green icon"></i></p>
        </li>
        <li value="-">
            <p>No points around you doesn't mean you are in safe region.Their is a possibility COVID-19 carriers around your region.</p>
        </li>

        <li value="-">
            <p>Wear mask,clean your hands often, avoid crowded and infected places, don't invite relatives during pandemic, don't touch your eyes ,nose or mouth.</p>
        </li>
    </ol>
</div>