{% extends 'base.html' %}

{%block title%}
Dashboard
{%endblock %}


{%block pageName%}
Dashboard
{%endblock %}

{%block content%}

<!--START SECTION IS_CACHE_EXIST -->

{% if is_cache_exist  %}
<!-- Cache exist -->

{%if  geospatialfile %}

{% include 'covid19nearyou/templates/dashboard/data_updated_at_template.html' %}
{% include 'covid19nearyou/templates/dashboard/geospatial_data_template.html' %}

<!--Start SECTION Is_need_to_update_points_into_file -->
{% if Is_need_to_update_points_into_file and is_need_to_add_data_into_cache or  is_need_to_add_data_into_cache%}

{% include 'covid19nearyou/templates/dashboard/data_missing_template.html' %}

{%else%}
{% if Is_need_to_update_points_into_file     %}

<a class="ui red basic label">
    <h4>Data points in Geospatial file and Redis database need to be updated.</h4>
</a><br> <br>

<p>
    Click here to <a href="{% url 'Add_To_File_New_And_Expire_Old_Covid19_Locations' %}">Add points into Redis and
        Geospatial file </a>
</p>


{% include 'covid19nearyou/templates/dashboard/add_more_points_template.html' %}

{%endif%}

{%endif%}

{%else%}


<a class="ui red basic label">
    <h4>Data points need to be added into Geospatial file. </h4>
</a><br> <br>

<p>
    Click here to <a href="{% url 'Add_To_File_New_And_Expire_Old_Covid19_Locations' %}">Add points into
        Geospatial file </a>
</p>




{% include 'covid19nearyou/templates/dashboard/add_more_points_template.html' %}



{%endif%}


{%else%}
<!-- Cache  missing -->

{%if  geospatialfile %}

{% include 'covid19nearyou/templates/dashboard/data_updated_at_template.html' %}
{% include 'covid19nearyou/templates/dashboard/geospatial_data_template.html' %}

{%endif%}

{%if is_cache_miss %}

{% include 'covid19nearyou/templates/dashboard/data_missing_template.html' %}

{%else%}

{% include 'covid19nearyou/templates/dashboard/add_more_points_template.html' %}



{%endif%}
{%endif%}
{%endblock %}