<div class="point-custom-card"> 
<h2 class="ui header  point-title">NEAREST POINT </h2>
    <i class="map marker large alternate icon IconColor"></i>

    <span class="nearest-point-design">{{nearest_covid19_point.address}}</span>
<p></p>
    <i class="circle large outline icon IconColor"></i>
    <span class="nearest-point-design">{{nearest_covid19_point.radius_range_in_km}} {{RANGE_IN_UNITS}} range circle</span>
    <p></p>

    <i class="flag large checkered icon   IconColor "></i>
    <span class="nearest-point-design">
    {{nearest_covid19_point.distance}} {{RANGE_IN_UNITS}}  distance</span>
  
</div> 